

.content.section-inner
	.posts
		#post-136.post-136.post.type-post.status-publish.format-standard.hentry.animated.fadeIn._1
			.post-bubbles
				a.format-bubble(href='')
			.content-inner
				.post-header
					h2.post-title
						a(href='', rel='bookmark', title='Digital Natives: A need for clarity?') Adaptive Algorithms: The Future of Learning?
					.post-meta
						span.post-date
							a(href='', title='Digital Natives: A need for clarity?') July 29, 2014
						span.date-sep  / 
						span.post-author
							a(href='', title='Posts by jchui', rel='author') browenchen
						span.date-sep  / 
						a(href='#respond', title='Comment on Digital Natives: A need for clarity?')
							span.dsq-postid(rel='')
								span.comment 0 Comments
				.post-content
					p Here at Zzish, we strive to fundamentally change the process of traditional learning. 
					p We attempt to maximize one’s learning potential in the most efficient way possible. 
					p We approach learning with a comprehensive holistic strategy that integrates principles of psychological and cognitive approaches to human memory, and we integrate that knowledge with the current advancing state of technology that is available to us in the hopes of creating a platform that can truly change the way people learn.

					br
				hr

				.row
					.col-sm-4
						a.more-link(href='/testing') Spaced Repitition
					.col-sm-4
						a.more-link(href='/irttesting') Item Response Theory						
					.col-sm-4
						a.more-link(href='/cattesting') Adaptive Testing					



				.clear
			.clear
			.clear
		#post-136.post-136.post.type-post.status-publish.format-standard.hentry.animated.fadeIn._2
			.post-bubbles
				a.format-bubble(href='')
			.content-inner
				.post-header
					h2.post-title
						a(href='', rel='bookmark', title='Digital Natives: A need for clarity?') Math Safari 
					.post-meta
						span.post-date
							a(href='', title='Digital Natives: A need for clarity?') July 15, 2014
						span.date-sep  / 
						span.post-author
							a(href='', title='Posts by jchui', rel='author') browenchen


				.post-content
					p Queens Manor Primary School 
					br
					
					p There’s no question that iPad games engage a young student’s interests far greater than the traditional method of teacher-blackboard lectures. There is also no question that the brain absorbs information at a much faster rate when studying a topic you truly enjoy versus a dull topic that you have no interest in. The simple engagement and classroom social aspect of Math Safari really shown through here as an effective way to change fundamental classroom learning. The sheer authentic looks of giddy excitement in the children’s eyes reaffirms the belief that Zzish is heading in the right direction..

					a.more-link(href='/testing') Continue reading
				.clear
			.clear
			.clear			

		#post-137.post-137.post.type-post.status-publish.format-standard.hentry.animated.fadeIn._2
			.post-bubbles
				a.format-bubble(href='')
			.content-inner
				.post-header
					h2.post-title
						a(href='', rel='bookmark', title='Digital Natives: A need for clarity?') Hollistic Learning 
					.post-meta
						span.post-date
							a(href='', title='Digital Natives: A need for clarity?') July 15, 2014
						span.date-sep  / 
						span.post-author
							a(href='/', title='Posts by jchui', rel='author') browenchen


				.post-content
					p Why learn hollistically?
					br
					
					p The human mind is a complex structure. The neural network system is equivalent to how gigantic cities are built. We attach meaning to abstract symbols such as letters (cell bodies/buildings), and correlate each symbol to other pieces of knowledge (axons/roads). The more roads that are available to access a certain building, the easier it is to get to that destination. To reinforce our constructs (cities), we must continue building these neural highways to connect these information with each other, which reinforces the students ability to recall highly connected pieces of information with greater ease than if one were to simply attempt rote memorization on an item. 

					a.more-link(href='/testing') Continue reading
				.clear
			.clear
			.clear						