.content.section-inner
	.posts
		#post-136.post-136.post.type-post.status-publish.format-standard.hentry.animated.fadeIn._2
			.post-bubbles
				a.format-bubble(href='http://blog.jchui.me/2014/07/digital-natives-a-need-for-clarity/')
			.content-inner
				.post-header
					h2.post-title
						a(href='http://blog.jchui.me/2014/07/digital-natives-a-need-for-clarity/', rel='bookmark', title='Digital Natives: A need for clarity?') Spaced Repitition
					.post-meta
						span.post-date
							a(href='http://blog.jchui.me/2014/07/digital-natives-a-need-for-clarity/', title='Digital Natives: A need for clarity?') July 29, 2014
						span.date-sep  / 
						span.post-author
							a(href='http://blog.jchui.me/author/jchui/', title='Posts by jchui', rel='author') browenchen
						span.date-sep  / 
						a(href='http://blog.jchui.me/2014/07/digital-natives-a-need-for-clarity/#respond', title='Comment on Digital Natives: A need for clarity?')
							span.dsq-postid(rel='136 http://blog.jchui.me/?p=136')
								span.comment 0 Comments
				.post-content
					p Here at Zzish, we strive to fundamentally change the process of traditional learning. 
					p We attempt to maximize one’s learning potential in the most efficient way possible. 
					p We approach learning with a comprehensive holistic strategy that integrates principles of psychological and cognitive approaches to human memory, and we integrate that knowledge with the current advancing state of technology that is available to us in the hopes of creating a platform that can truly change the way people learn.


					a.more-link(href='/spacedRep') Continue reading
				.clear
			.clear
			.clear