- var names = ['owen', 'chris','owen', 'chris', 'morgan'];
		
br

br
.row 
	.col-sm-6.col-sm-offset-3


		-for (var y =0; y < names.length; ++y){
			.row
				-for (var i =0; i < names.length; ++i){
					span.well(style="min-width: 75px; font-size:.75em;")= names[i]
				-}
			br
			
		-}

		br




		


script(type='text/javascript')
	var startDate = new Date(2013, 6, 25);
	var startTimestamp = new Date(2013, 6, 1).getTime()/1000;

	function GAconverter(data) {
	var i, total, results = {};
	for(i = 0, total = data.length; i < total; i++) {
	results[+data[i].Hour * 3600 + startTimestamp] = +data[i].Visits;
	}
	return results;
	}

	var cal = new CalHeatMap();
	cal.init({
	itemSelector: "#example-k",
	domain: "day",
	subDomain: "hour",
	rowLimit: 1,
	cellSize: 15,
	domainGutter: 0,
	verticalOrientation: true,
	label: {
	position: "left",
	offset: {
	x: 20,
	y: 12
	},
	width: 110
	},
	data: "google-analytics.csv",
	dataType: "csv",
	start: startDate,
	afterLoadData: GAconverter,
	range: 10,
	itemName: "visit",
	legend: [5, 10, 15, 20, 25, 30],
	legendHorizontalPosition: "right",
	legendColors: {
	empty: "#ededed",
	min: "#40ffd8",
	max: "#f20013"
	}
	});





