<!DOCTYPE html>
	<head> 
<!-- /*		<style>
			body{

				background-image: url("images/background.jpg");
			}
		</style>*/ -->
		<title> Educational Algorithms</title>
		<link rel="stylesheet" type="stylesheet" href="stylesheets/foundation.css">
		<!-- <body background="images/orange.jpg"> -->
	</head>

	<body bgcolor="#0CB0A7">




		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><a href="#"><b>Education</b></a></h1>
				</li>
			<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>

			<section class="top-bar-section">
			<!-- Right Nav Section -->
				<ul class="right">
					<li class="active"><a href="#">Learn more</a></li>
					<li class="has-dropdown">
						<a href="#">About Us</a>
						<ul class="dropdown">
			  				<li><a href="#">Bios</a></li>
						</ul>
					</li>
				</ul>

			<!-- Left Nav Section -->
				<ul class="left">
					<li><a href="#">Maximize Learning Efficiency</a></li>
				</ul>
			</section>
		</nav>	



		
		<div class="panel callout radius">
			<h1> State of the art Educational Algorithms </h1>
			<!-- <p> Spaced Repitition, Item Response Theory, Computerized Algorithmic Testing</p> -->


			<ul class="button-group">
			  <li><a href="#" class="small button">Spaced Repitition</a></li>
			  <li><a href="#" class="small button">Item Response Theory</a></li>
			  <li><a href="#" class="small button">Computerized Algorithmic Testing</a></li>
			</ul>

		</div>	


		

		<div class="row">
			<div class="large-12 columns">
			<div id="slider">
				<img src="images/graph.jpg"/>
			</div>

			<hr/>
			</div>
		</div>



	</body>
