doctype html
html(lang='en-US')
  head
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='shortcut icon', href='http://jchui.me/img/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500', rel='stylesheet', type='text/css')
    title Jeremy Chui | Personal Blog
    link(rel='alternate', type='application/rss+xml', title='Jeremy Chui » Feed', href='http://blog.jchui.me/feed/')
    link(rel='alternate', type='application/rss+xml', title='Jeremy Chui » Comments Feed', href='http://blog.jchui.me/comments/feed/')
    link#jetpack-subscriptions-css(rel='stylesheet', href='http://blog.jchui.me/wp-content/plugins/jetpack/modules/subscriptions/subscriptions.css?ver=3.9.1', type='text/css', media='all')
    link#jetpack-widgets-css(rel='stylesheet', href='http://blog.jchui.me/wp-content/plugins/jetpack/modules/widgets/widgets.css?ver=20121003', type='text/css', media='all')
    link#lingonberry_googleFonts-css(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato%3A400%2C700%2C400italic%2C700italic%7CRaleway%3A600%2C500%2C400&ver=3.9.1', type='text/css', media='all')
    link#lingonberry_style-css(rel='stylesheet', href='http://blog.jchui.me/wp-content/themes/lingonberry/style.css?ver=3.9.1', type='text/css', media='all')
    script(type='text/javascript', src='http://blog.jchui.me/wp-includes/js/jquery/jquery.js?ver=1.11.0')
    script(type='text/javascript', src='http://blog.jchui.me/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://blog.jchui.me/xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://blog.jchui.me/wp-includes/wlwmanifest.xml')
    meta(name='generator', content='WordPress 3.9.1')
    link(rel='shortlink', href='http://wp.me/4yZVh')
    style(type='text/css').
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
    
    meta(property='og:type', content='website')
    meta(property='og:title', content='Jeremy Chui')
    meta(property='og:description', content='Personal Blog')
    meta(property='og:url', content='http://blog.jchui.me/')
    meta(property='og:site_name', content='Jeremy Chui')
    meta(property='og:image', content='http://wordpress.com/i/blank.jpg')
    meta(name='twitter:site', content='@jetpack')
  body.home.blog
    .navigation
      .navigation-inner.section-inner
        ul.blog-menu
        form.search-form(method='get', action='http://blog.jchui.me/')
          input#s(type='search', value='Type and press enter', onfocus="if(this.value=='Type and press enter')this.value='';", onblur="if(this.value=='')this.value='Type and press enter';", name='s')
          input#searchsubmit.button.hidden(type='submit', value='Search')
        .clear
      
    
    .header.section
      .header-inner.section-inner
        a.logo(href='http://blog.jchui.me', title='Jeremy Chui  — Personal Blog', rel='home')
          img(src='http://blog.jchui.me/wp-content/uploads/2014/04/cropped-2013-12-18-21.15.48.jpg', alt='Jeremy Chui')
        h1.blog-title
          a(href='http://blog.jchui.me', title='Jeremy Chui — Personal Blog', rel='home') Jeremy Chui
        .nav-toggle
          .bar
          .bar
          .bar
          .clear
        .clear
    .content.section-inner
      .posts
        #post-136.post-136.post.type-post.status-publish.format-standard.hentry.category-design.category-design-thinking.category-hacks.category-startups
          .post-bubbles
            a.format-bubble(href='http://blog.jchui.me/2014/07/digital-natives-a-need-for-clarity/')
          .content-inner
            .post-header
              h2.post-title
                a(href='http://blog.jchui.me/2014/07/digital-natives-a-need-for-clarity/', rel='bookmark', title='Digital Natives: A need for clarity?') Digital Natives: A need for clarity?
              .post-meta
                span.post-date
                  a(href='http://blog.jchui.me/2014/07/digital-natives-a-need-for-clarity/', title='Digital Natives: A need for clarity?') July 9, 2014
                span.date-sep  / 
                span.post-author
                  a(href='http://blog.jchui.me/author/jchui/', title='Posts by jchui', rel='author') jchui
                span.date-sep  / 
                a(href='http://blog.jchui.me/2014/07/digital-natives-a-need-for-clarity/#respond', title='Comment on Digital Natives: A need for clarity?')
                  span.dsq-postid(rel='136 http://blog.jchui.me/?p=136')
                    span.comment 0 Comments
            .post-content
              p A couple of friends and I went to the Seedcamp hackathon over the weekend.
              p The theme? Life-logging.
              p
                | After a 2.5 hour brainstorming session on the Friday night, we finally agreed upon a challenge we were aiming to solve.
              p
                | There are thousands of life-logging apps on the app stores. Moodtracking, Diet Monitoring, etc.
              p
                | But what if there was a way to intelligently interpret the information collected from a number of sources?
              p
                a.more-link(href='http://blog.jchui.me/2014/07/digital-natives-a-need-for-clarity/#more-136') Continue reading
            .clear
          .clear
          .clear
        #post-100.post-100.post.type-post.status-publish.format-standard.hentry.category-design.category-design-resources
          .post-bubbles
            a.format-bubble(href='http://blog.jchui.me/2014/07/design-resources-part-one/')
          .content-inner
            .post-header
              h2.post-title
                a(href='http://blog.jchui.me/2014/07/design-resources-part-one/', rel='bookmark', title='Design Resources (Part One)') Design Resources (Part One)
              .post-meta
                span.post-date
                  a(href='http://blog.jchui.me/2014/07/design-resources-part-one/', title='Design Resources (Part One)') July 8, 2014
                span.date-sep  / 
                span.post-author
                  a(href='http://blog.jchui.me/author/jchui/', title='Posts by jchui', rel='author') jchui
                span.date-sep  / 
                a(href='http://blog.jchui.me/2014/07/design-resources-part-one/#respond', title='Comment on Design Resources (Part One)')
                  span.dsq-postid(rel='100 http://blog.jchui.me/?p=100')
                    span.comment 0 Comments
            .post-content
              p Spent the past day trying to organise my bookmarks folder.
              p Thought to share ten of my favourite design resources.
              p So here it goes!
              p
                a.more-link(href='http://blog.jchui.me/2014/07/design-resources-part-one/#more-100') Continue reading
            .clear
          .clear
          .clear
        #post-12.post-12.post.type-post.status-publish.format-standard.hentry.category-business.category-personal.category-startups.category-university
          .post-bubbles
            a.format-bubble(href='http://blog.jchui.me/2014/04/a-year-in-startups/')
          .content-inner
            .post-header
              h2.post-title
                a(href='http://blog.jchui.me/2014/04/a-year-in-startups/', rel='bookmark', title='A Year in Startups') A Year in Startups
              .post-meta
                span.post-date
                  a(href='http://blog.jchui.me/2014/04/a-year-in-startups/', title='A Year in Startups') April 24, 2014
                span.date-sep  / 
                span.post-author
                  a(href='http://blog.jchui.me/author/jchui/', title='Posts by jchui', rel='author') jchui
                span.date-sep  / 
                a(href='http://blog.jchui.me/2014/04/a-year-in-startups/#comments', title='Comment on A Year in Startups')
                  span.dsq-postid(rel='12 http://blog.jchui.me/?p=12') 1 Comment
            .post-content
              p
                | It&rsquo;s been a year since I first got introduced to the world of startups and entrepreneurship.
              p 11 months since my first hackathon.
              p 5 months since I co-founded my first company.
              p And I&rsquo;m loving every second of it.
              hr
              p It was weird how it all began.
              p
                | I was in my 2nd year of medical school, looking to find something new and exciting to do.
              p
                | By then, I was already used to staying up late and creating small &lsquo;hacks&rsquo; during the night.
              p
                a.more-link(href='http://blog.jchui.me/2014/04/a-year-in-startups/#more-12') Continue reading
            .clear
          .clear
          .clear
        script(type='text/javascript').
          // <![CDATA[
          var disqus_shortname = 'jchui';
          (function () {
          var nodes = document.getElementsByTagName('span');
          for (var i = 0, url; i < nodes.length; i++) {
          if (nodes[i].className.indexOf('dsq-postid') != -1) {
          nodes[i].parentNode.setAttribute('data-disqus-identifier', nodes[i].getAttribute('rel'));
          url = nodes[i].parentNode.href.split('#', 1);
          if (url.length == 1) { url = url[0]; }
          else { url = url[1]; }
          nodes[i].parentNode.href = url + '#disqus_thread';
          }
          }
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '//' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());
          //]]>
    .footer.section
      .footer-inner.section-inner
        .footer-a.widgets
          .widget.widget_categories
            .widget-content
              h3.widget-title Categories
              ul
                li.cat-item.cat-item-4
                  a(href='http://blog.jchui.me/category/business/', title='View all posts filed under Business') Business
                  |  (1)
                li.cat-item.cat-item-12
                  a(href='http://blog.jchui.me/category/design/', title='View all posts filed under Design') Design
                  |  (2)
                li.cat-item.cat-item-13
                  a(href='http://blog.jchui.me/category/design/design-resources/', title='View all posts filed under Design Resources') Design Resources
                  |  (1)
                li.cat-item.cat-item-14
                  a(href='http://blog.jchui.me/category/design/design-thinking/', title='View all posts filed under Design Thinking') Design Thinking
                  |  (1)
                li.cat-item.cat-item-11
                  a(href='http://blog.jchui.me/category/hacks/', title='View all posts filed under Hacks') Hacks
                  |  (1)
                li.cat-item.cat-item-3
                  a(href='http://blog.jchui.me/category/personal/', title='View all posts filed under Personal') Personal
                  |  (1)
                li.cat-item.cat-item-2
                  a(href='http://blog.jchui.me/category/startups/', title='View all posts filed under Startups') Startups
                  |  (2)
                li.cat-item.cat-item-6
                  a(href='http://blog.jchui.me/category/university/', title='View all posts filed under University') University
                  |  (1)
            .clear
          .clear
        .footer-b.widgets
          .widget.widget_archive
            .widget-content
              h3.widget-title Archives
              ul
                li
                  a(href='http://blog.jchui.me/2014/07/') July 2014
                li
                  a(href='http://blog.jchui.me/2014/04/') April 2014
            .clear
          .clear
        .footer-c.widgets
          .widget.widget_text
            .widget-content
              h3.widget-title About Me
              .textwidget
                | UI/UX designer &amp; web developer. Founder of @unireq. Medical Student. Startups, music, programming and design, with a bit of medicine mixed in.
            .clear
          .clear
        .clear
    .credits.section
      .credits-inner.section-inner
        p.credits-left
          span Copyright
          |  &copy; 2014 
          a(href='http://blog.jchui.me', title='Jeremy Chui') Jeremy Chui
        p.credits-right
          a.tothetop(title='To the top') Back to top &uarr;
        .clear
    div(style='display:none')
    script(type='text/javascript', src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201431')
    script(type='text/javascript', src='http://s.gravatar.com/js/gprofiles.js?ver=2014Julaa')
    script(type='text/javascript').
      /* <![CDATA[ */
      var WPGroHo = {"my_hash":""};
      /* ]]> */
    script(type='text/javascript', src='http://blog.jchui.me/wp-content/plugins/jetpack/modules/wpgroho.js?ver=3.9.1')
    script(type='text/javascript', src='http://blog.jchui.me/wp-content/themes/lingonberry/js/flexslider.min.js?ver=3.9.1')
    script(type='text/javascript', src='http://blog.jchui.me/wp-content/themes/lingonberry/js/global.js?ver=3.9.1')
    script(src='http://stats.wordpress.com/e-201431.js', type='text/javascript')
    script(type='text/javascript').
      st_go({v:'ext',j:'1:3.0.2',blog:'67446531',post:'0',tz:'0'});
      var load_cmc = function(){linktracker_init(67446531,0,2);};
      if ( typeof addLoadEvent != 'undefined' ) addLoadEvent(load_cmc);
      else load_cmc();
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-24142610-6', 'jchui.me');
      ga('send', 'pageview');
