p.
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h3>Adaptive Algorithms will revolutionize learning</h3>
					<h1>Learn more about these algorithms</h1>
					<h5>Chat with me</h5>
					<h5></h5>				
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<img src="assets/img/browser.png" class="img-responsive">
				</div>
			</div><!-- /row -->
		</div> <!-- /container -->
	</div><!-- /headerwrap -->
