
p.
	<div id="service">
		<div class="container" style='background-color: #ecf0f1;'>
			<div class="row centered">
				<div class="col-md-4">
					<i class="fa fa-keyboard-o"></i>
					<h4>Spaced Repitition</h4>
					<p>Spaced Repititon is based off the human Forgetting Curve</p>
					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
				</div>
				<div class="col-md-4">
					<i class="fa fa-flask"></i>
					<h4>Computerized Adaptive Testing</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
				</div>
				<div class="col-md-4">
				<i class="fa fa-trophy"></i>
					<h4>Item Response Theory</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
					</div>						
			</div>
		</div>
	</div>
