

#twrap
	.container.centered
		.row
			.col-lg-8.col-md-8.col-lg-offset-2
				i.glyphicon.glyphicon-book
				p
					| Adaptive Learning will revolutionize learning efficiency as EdTech continues to grow. Here, you will find three common adaptive learning algorithms
					| and sample apps that I have created to learn more about these algorithms. Feel free to contact me for any questions!
				
				h4
					br
					| Educational Algorithms
				a(href='http://github.com/browenchen').btn.btn-info GITHUB






#service
	.container(style='background-color: #ecf0f1;')
		.row.centered
			.col-md-4
				i.fa.fa-keyboard-o
				h4 Spaced Repitition
				p Spaced Repititon is based off the human Forgetting Curve, as graciously provided to us by Dr. Ebbinghaus. This is the best way to learn and retain information for the long term.
				p
					br
					a.btn.btn-theme(href='/spacedRep') More Info
			.col-md-4
				i.fa.fa-flask
				h4 Computerized Adaptive Testing
				p
					| Pre-testing algorithm for assessing a student's initial ability level. This is used in many large-scale industries to determine where a learner should begin
				p
					br
					a.btn.btn-theme(href='/view1') More Info
			.col-md-4
				i.fa.fa-trophy
				h4 Item Response Theory
				p
					| Designed to measure the probability of answering a question correctly based on continuous multi-variable parameter models
				p
					br
					a.btn.btn-theme(href='/itemRes') More Info

