
script.

	$('a[href^="#"]').on('click', function(event) {

	var target = $( $(this).attr('href') );

	if( target.length ) {
	event.preventDefault();
	$('html, body').animate({
	scrollTop: target.offset().top
	}, 1000);
	}

	});

.row
	.col-lg-10

		#veryTop.content.section-inner


			header#top.clearfix.animated.fadeIn._1
				//- nav#nav.menu-nav-menu-container
				//-	ul#menu-nav-menu.menu.col-lg-offset-2
				//-		li#menu-item-39.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-39
				//-			a(href='#overview') Spaced Repitition
				//-		li#menu-item-497.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-497
				//-			a(href='#theAlg') Math Safari
				//-		li#menu-item-128.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-128
				//-			a(href='#theory') Technical Details


			.posts
				#post-136.post-136.post.type-post.status-publish.format-standard.hentry.animated.fadeIn._1
					.post-bubbles
						a.format-bubble(href='/')
					.content-inner
						.post-header(style="padding-bottom:1px;")

							h2.post-title
								a(href='', rel='bookmark', title='Home') Spaced Repitition
							br
							br
							nav#nav.menu-nav-menu-container(style="padding-top:10px; position:absolute;")
								ul#menu-nav-menu.menu
									li#menu-item-39.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-39
										a(href='#overview') Overview
									li#menu-item-497.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-497
										a(href='#theAlg') The Algorithm
									li#menu-item-128.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-128
										a(href='#theory') Theory and Mechanics
						.post-content

							h3 Flashcard reordering	
							br
							.row
								.col-sm-3.animated.fadeInUp._1
									#avatar.div(onclick="style.opacity = 1", ng-click="avatarSelect('dog')").animated.fadeIn_4
										a(href="")
											img.input.img-circle(src="/imgs/dog.png", type="checkbox", name="firstCheck").animated.fadeIn_5
								
								.col-sm-3.animated.fadeInUp._2
									#avatar.div(onclick="style.opacity = 1;",ng-click="avatarSelect('hippo')")
										a(href="")
											img.img-circle(src="/imgs/hippo.png")
								
								.col-sm-3.animated.fadeInUp._3
									#avatar(onclick="style.opacity = 1;", ng-click="avatarSelect('monkey')")
										a(href="")
											img.img-circle(src="/imgs/monkey.png")

								
								.col-sm-3.animated.fadeInUp._4
									#avatar(onclick="style.opacity = 1;", ng-click="avatarSelect('macaw')")
										a(href="")
											img.img-circle(src="/imgs/macaw.png")
							br
							
							br
							button.btn.btn-info(style="position:relative; left:40%;").animated.fadeIn._5 Order Me


							br

							br
							br

							#overview.h4 Overview
							p
								em Spaced Repitition is based on this fact to reinforce the knowledge in an optimal way to increase long term potentiation of facts. 
								br
								br
								| What this means is that instead of trying to cram a ton of information with equal exposure and weight into your head, 
								em you focus on your weak links at the right time to optimize the learning process. 
								| Think of the process of trying to learn 150 different concepts for an exam. In order to cover all 150 concepts with an equal level of mastery, we would need a strategic way to target the weak links and de-emphasize the ones we already know well. The adage “failure is the best teacher” rings loud and clear here. In order to see true progress and rapid growth, you must struggle and step out of a comfort zone. The SR algorithm applies this concept as a generalized template for one method of making the most out of your limited time. This is just one of the few algorithms that goes into the Adaptive Module, with the hopes of providing this platform and knowledge to all edTech developers to rid the inefficiencies of traditional learning. 
								br
								a(href="#top") Back to top &uarr;							
								br
							#theAlg.h4 The Algorithm
							p
								| We take a body of knowledge, and split it into individual pieces to be studied. Be it concepts in math, science, philosophy, etc, any topic can be broken down into it’s fundamental “atoms” that contribute to the holistic web of knowledge that constitutes a subject.
								br
								br
								| All of the items are now assigned an “E-Factor”, which represents the “easiness” of a certain piece of data according to you. This will be updated over time.
								br
								br
								| Now we assign intervals at which each piece of information should be shown to you according to this forgetting curve, and continuously update these intervals for each item with  a function that models the forgetting curve.
								| After each exposure to the student, the Q-Factor is the quality of the response, usually a measure of 1-5 that determines the student’s level of understanding on that item. We can take in metrics such as duration spent on problem, incorrect guesses, or even in the future advanced neurotracking software to determine the physiological signs of frustration in a students face.
								| The E-Factor is then assessed and recalculated, and the algorithm repeats to truly adapt to the learner. 
								br 
								a(href="#top") Back to top &uarr;
							#theory.h4 Theory and Mechanics
							p
								| Text here 
								br
								br
								| All of the items are now assigned an “E-Factor”, which represents the “easiness” of a certain piece of data according to you. This will be updated over time.
								br
								br
								| Now we assign intervals at which each piece of information should be shown to you according to this forgetting curve, and continuously update these intervals for each item with  a function that models the forgetting curve.
								| After each exposure to the student, the Q-Factor is the quality of the response, usually a measure of 1-5 that determines the student’s level of understanding on that item. We can take in metrics such as duration spent on problem, incorrect guesses, or even in the future advanced neurotracking software to determine the physiological signs of frustration in a students face.
								| The E-Factor is then assessed and recalculated, and the algorithm repeats to truly adapt to the learner.						
								br
								a(href="#top") Back to top &uarr;	
						.col-lg-4.col-lg-offset-1
							
						.clear
					.clear
					.clear

				#post-137.post-137.post.type-post.status-publish.format-standard.hentry.animated.fadeIn._1
					.post-bubbles
						a.format-bubble(href='/')
					.content-inner
						.post-header
							h2.post-title
								a(href='', rel='bookmark', title='Home') Math Safari
							.post-meta
								span.post-date
									a(href='', title='') July 29, 2014
								span.date-sep  / 
								span.post-author
									a(href='http://blog.jchui.me/author/jchui/', title='', rel='author') browenchen
								span.date-sep  / 

						.post-content



							#overview.h4 Math Safari Using Spaced Repitition
							p
								em Spaced Repitition is based on this fact to reinforce the knowledge in an optimal way to increase long term potentiation of facts. 
								br
								br
								| What this means is that instead of trying to cram a ton of information with equal exposure and weight into your head, 
								em you focus on your weak links at the right time to optimize the learning process. 
								| Think of the process of trying to learn 150 different concepts for an exam. In order to cover all 150 concepts with an equal level of mastery, we would need a strategic way to target the weak links and de-emphasize the ones we already know well. The adage “failure is the best teacher” rings loud and clear here. In order to see true progress and rapid growth, you must struggle and step out of a comfort zone. The SR algorithm applies this concept as a generalized template for one method of making the most out of your limited time. This is just one of the few algorithms that goes into the Adaptive Module, with the hopes of providing this platform and knowledge to all edTech developers to rid the inefficiencies of traditional learning. 
								br
								a(href="#top") Back to top &uarr;							
								br
							#theAlg.h4 The Algorithm
							p
								| We take a body of knowledge, and split it into individual pieces to be studied. Be it concepts in math, science, philosophy, etc, any topic can be broken down into it’s fundamental “atoms” that contribute to the holistic web of knowledge that constitutes a subject.
								br
								br
								| All of the items are now assigned an “E-Factor”, which represents the “easiness” of a certain piece of data according to you. This will be updated over time.
								br
								br
								| Now we assign intervals at which each piece of information should be shown to you according to this forgetting curve, and continuously update these intervals for each item with  a function that models the forgetting curve.
								| After each exposure to the student, the Q-Factor is the quality of the response, usually a measure of 1-5 that determines the student’s level of understanding on that item. We can take in metrics such as duration spent on problem, incorrect guesses, or even in the future advanced neurotracking software to determine the physiological signs of frustration in a students face.
								| The E-Factor is then assessed and recalculated, and the algorithm repeats to truly adapt to the learner. 
								br 
								a(href="#top") Back to top &uarr;
							#theory.h4 Theory and Mechanics
							p
								| Text here 
								br
								br
								| All of the items are now assigned an “E-Factor”, which represents the “easiness” of a certain piece of data according to you. This will be updated over time.
								br
								br
								| Now we assign intervals at which each piece of information should be shown to you according to this forgetting curve, and continuously update these intervals for each item with  a function that models the forgetting curve.
								| After each exposure to the student, the Q-Factor is the quality of the response, usually a measure of 1-5 that determines the student’s level of understanding on that item. We can take in metrics such as duration spent on problem, incorrect guesses, or even in the future advanced neurotracking software to determine the physiological signs of frustration in a students face.
								| The E-Factor is then assessed and recalculated, and the algorithm repeats to truly adapt to the learner.						
								br
								a(href="#top") Back to top &uarr;	
						.col-lg-4.col-lg-offset-1
							
						.clear
					.clear
					.clear			

	.col-lg-2.animated.fadeIn._2
		
		br
		br
		
		
		
		.widget.widget_recent_entries
			#nav.widget-content
				h3.widget-title(style="color:silver; font-size:1.5em; margin-left:15px;") Contents 
				hr
				#menu.ul
					#menu-item-39.li
						a(href='#post-136') Spaced Repitition
					br
					#menu-item-30.li
						a(href='#post-137') Math Safari
					br
					#menu-item-39.li
						a(href='') Web Rec


			.clear


