extends layout

block body
	br
	br
	br
	//- div(ng-controller='AppCtrl')
	//-	ul.menu.btn
	//-		li
	//-		a(href='/view1') Spaced Repitition
	//-		li
	//-		a(href='/view2') CRT and IRT
	//-		li
	//-		a(href='/land') Info Page

	div(ng-view)

	//- div
	//-	| Edu Algorithms: v
	//-	span(app-version)


