extends layout

block body
	br
	br
	hr
	div(ng-controller='AppCtrl')
	h2 
		Strong SR | CAT |  IRT 
	ul.menu.btn
		li
		a(href='/view1') Spaced Repitition
		li
		a(href='/view2') CRT and IRT
		li
		a(href='/land') Info Page

	div(ng-view)

	div
		| Angular seed app: v
		span(app-version)


