<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Le styles -->
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="stylesheets/style.css" rel="stylesheet">
	</head>

	<body background="img/metal.jpg">


		<div id="main" class="container">
			<h1> Hello </h1>

		</div>


		<div id="jQuery" class="container">
			<a href="http://jquery.com/">jQuery Testing</a

		</div>

		<div class="container">
		 
		<!-------->
		<div class="row">
			<div class="col-md-6">
				<div id="content">
				    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				        <li class="active"><a href="#red" data-toggle="tab">Red</a></li>
				        <li><a href="#orange" data-toggle="tab">Orange</a></li>
				        <li><a href="#yellow" data-toggle="tab">Yellow</a></li>
				        <li><a href="#green" data-toggle="tab">Green</a></li>
				        <li><a href="#blue" data-toggle="tab">Blue</a></li>
				    </ul>
				    <div id="my-tab-content" class="tab-content">
				        <div class="tab-pane active" id="red">
				            <h1>Red</h1>
				            <p>red red red red red red</p>
				        </div>
				        <div class="tab-pane" id="orange">
				            <h1>Orange</h1>
				            <p>orange orange orange orange orange</p>
				        </div>
				        <div class="tab-pane" id="yellow">
				            <h1>Yellow</h1>
				            <p>yellow yellow yellow yellow yellow</p>
				        </div>
				        <div class="tab-pane" id="green">
				            <h1>Green</h1>
				            <p>green green green green green</p>
				        </div>
				        <div class="tab-pane" id="blue">
				            <h1>Blue</h1>
				            <p>blue blue blue blue blue</p>
				        </div>
				    </div>
				</div>
				 
				 
<!-- container -->


	      <hr>

	      <footer>
	        <p>&copy; Company 2014</p>
	      </footer>
	    </div> <!-- /container -->

	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript">
		    jQuery(document).ready(function ($) {

		        $('#tabs').tab();
		    });
		</script>    	    
	    	

		<script type="text/javascript" src="js/bootstrap.js"></script>	    	
	</body>

</html>